<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="Server=DISHA-PC;Database=AquaProDbDev;User Id=sa;Password=123456;"/>-->
    <add key="DistinctColumnName" value="AJF_PROJ_CDE (C13)"/>
    <add key="ConnectionString" value="data source=SCSQLSERVER;initial catalog=MRH_TEST;persist security info=True;Integrated Security=SSPI;"/>
  </appSettings>
</configuration>